<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Corporation | Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <div class="room" id="room1">living room</div>
        <div class="room" id="room2">kitchen</div>
        <div class="room" id="room3">primary</div>
        <div class="room" id="room4">bedroom</div>
        <div class="room" id="room5">office</div>
        <div class="room" id="room6">hall</div>
        <div class="room" id="room7">main</div>
        <div class="room" id="room8">dining</div>
        <div class="room" id="room9">boxing</div>
    </div>
    
    
</body>
</html>