<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Corporation | Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <div class="container">
        <div class="room" id="room1">Sales Dashboard</div>
        <div class="room" id="room2">Total Revenue</div>
        <div class="room" id="room3">Items Sold</div>
        <div class="room" id="room4">Monthly Revenue</div>
        <div class="room" id="room5">Monthly Graphs</div>
        <div class="room" id="room6">Yearly Sales</div>
        <div class="room" id="room7">Quarterly Profit</div>
        <div class="room" id="room8">*Draw graphical on the yearly sales models</div>
        <div class="room" id="room9">*Quarterly Graphical Model</div>
    </div>
    
    
</body>
</html>